<h1><a href="https://github.com/krishl/data-science-projects/blob/main/project-10/ds-project-10.ipynb">Creating a data transforming algorithm</a></h1>
<h2>Libraries used: Pandas, NumPy, Sklearn<h2>
<p>The Sure Tomorrow insurance company wants to protect its clients’ data. The task is to develop a data transforming algorithm that would make it hard to recover personal information from the transformed data. The data will be protected in such a way that the quality of machine learning models do not suffer.</p>
