<h1><a href="https://github.com/krishl/data-science-projects/blob/main/project-11/ds-project-11.ipynb">Building a model to determine used car values</a></h1>
<h2>Libraries used: Pandas, LightGBM, Sklearn, CatBoost<h2>
<p>Rusty Bargain used car sales service is developing an app to attract new customers. In that app, users can quickly find out the market value of their car. We have access to historical data: technical specifications, trim versions, and prices. A model will be built to determine the value.</p>
