<h1><a href="https://github.com/krishl/tea-tracker">BrewTeaful - Track the teas you own and discover new ones</a></h1>
<h2>Technologies: Sinatra, BCrypt, SQLite, CSS, content mangement system, user authentication<h2>
<p>Brewteaful is a tool designed for tea lovers who would like an easier way to keep track of all the different kinds of tea that they own. Use this tool to record important tea brewing information such as: brewing time, brewing temperature, purchase date, and measurements. Also, discover new teas by viewing the latest submissions of fellow users.</p>
